*{
    box-sizing: border-box;
}

.univ{
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: #F2F4F7;
}
p,h4{
    margin: .5rem 0 0;
}
button{
    padding: .6rem 0;
    border-radius: 5px;
    border-style: none;
    margin-bottom: .7rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;

}
.about{
    color: #E43A19;
       .line{
           vertical-align: middle;
       }
   }

header{
    display: block;   
    .mobile_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
      
        .hamburger{
            height: 24px;
            cursor: pointer;
        }
        .x-icon{
            height: 15px;
            cursor: pointer;
        }
    }
    nav{
         display: flex;
         display: none;
         flex-direction: column;
         margin-top: 2rem;
        p{
         font-size: 24px;
         line-height: 28px;
         color: #111F4D;
         margin: .7rem 0;
         cursor: pointer;
         font-family: 'Roboto', sans-serif;
         &:hover{
            color: #E43A19;
        }
        } 
        button{
            &.contact{
            color: #E43A19;
            background-color: inherit;
            border: 1px solid #E43A19;
            }
            &.hire{
                background-color: #E43A19;
                color: white;
            }
        }
     }
}

main{
    color: white;
    background-color:  #111F4D;
    button{
        border-radius: 5px;
        border-style: none;
        margin-bottom: .7rem;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 24px;
        background-color: #E43A19;
        color: white;
        padding: .5rem 1rem;
    }
    .contact, img{
        display: none;
    }
   
}
.stacks{
    display: flex;
    flex-direction: column;
    & > * {
        margin: 1rem 0;
    }
    .stack{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F2F4F7;
        box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
        border-radius: 8px;
        padding:0 1rem ; 
        text-align: center;
    }
}

.about-me{
    .dp{
        width: 100%;
    }
    .line{
        vertical-align: middle;
    }
    div{
        h3{
            color: #111F4D;
            margin: .5rem 0;
        }
        .about{
            color: #E43A19;
            font-size: 16px;
        }
        p{
            font-size: 15px;
            color: #111F4D;
            line-height: 24px;
        }
    }
}
  progress {
    background-color: black;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    }
    progress::-webkit-progress-bar {
        background-color: rgba(255, 255, 255, 0.679);
        border-radius: 10px;
        height: 10px;
        width: 100%;
    }
    progress::-webkit-progress-value {
        background-color: #E43A19;
        border-radius: 10px;
        height: 10px;
        width: 100%;
   
    } 
    progress::-moz-progress-bar {
        background-color: white;
        border-radius: 10px;
        height: 10px;
        width: 100%;
    
    }
    .skills{
       .first{
           .about{
            color: #E43A19;
               .line{
                   vertical-align: middle;
               }
           }
        h3{
         color: #111F4D;  
        }
        p{
            color: #111F4D;
        }
       } 
       .second{
        display: flex;
        flex-direction: column;
        align-items: center;
           .card{
            background: #F2F4F7;
            box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
            border-radius: 8px;
            text-align: center;
            width: 70%;
            padding: .5rem 0;
            margin: 1.5rem 0;
            color: #111F4D;
           }
       }
    }
    .portfolio{
        .about{
            img{
                vertical-align: middle;
            }
        }
        .content{
            color: #111F4D;
        }
        .latest{
          color: #111F4D;
        }
        .container{
            img{
                width: 100%;
                margin: 1rem 0;
            }
        }

    }

    .available{
        text-align: center;
        color: white;
        background: #111F4D;
        p{
           color:  #F2F4F7;
           margin-bottom: 1rem;
        }
        button{
            background-color: #E43A19;
            color: white;
            padding: .5rem 1rem;  
        }
    }

    .testimonials{
        h4{
            margin: .4rem 0;
            color: #111F4D;
        }
        p{
        font-size: 14px;
        line-height: 24px;
        color: #111F4D;
        }
        .testimonies{
            .testimony{
            background: #111F4D;
            border-radius: 8px;
            padding: 1rem 1.2rem ;
            margin: 1rem 0;
            position: relative;
            span{
                font-weight: 600;
                font-size: 32px;
                line-height: 24px;
                letter-spacing: 0.05em;
                color: #E43A19;
                position: absolute;
                right: 94%;
            }
            .close_quotes{
                position: absolute;
                right: 28%;
                top: 65%;            
            }

            p,h4{
                color: white; 
                margin-left: .5rem;  
            }
         
            }
        }
    }

    .contact-us{
       .content{ margin: 1rem 0;color: #111F4D;}
       form{
        margin: 1rem 0; 
        & > *::placeholder { 
            font-family: 'Poppins', sans-serif;
          }
        input,textarea{
            width: 100%;
            margin: .5rem 0;
            height: 44px;
            background-color: inherit;
            border-style: none;
            border: 1px solid #ADADAD;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 1rem;
        }  
        textarea{
            height: 100px;
            padding-top: .5rem;
        }
        button{
            background-color: #E43A19;
            color: white;
            padding: .5rem 1rem;  
            float: right;
        }
       }
    }
footer{
    background: #111F4D;
    text-align: center;
    margin-top: 2rem;
    padding: 1.5rem;
    color: white;
}
@media only screen and (min-width: 768px) {
    .univ{
        padding: 1rem 8rem ;
    }
    .about{
        position: absolute;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right;
        left: 7%;
        top: 2%;
        color: #E43A19
    }
    .available{
        padding: 3rem 8rem;
    }
    header{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        justify-content: space-around;
        nav{
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 0;
            width: 60%;
            p{
                margin: 0;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
            }
            button{
                margin: 0;
                padding: .5rem 1rem;
                font-size: 14px;
            }
        }
      .mobile_header {
        width: 40%;
          .hamburger{
              display: none !important;
          }
      }  
    }
    main{
        padding-right: 0 !important;
        display: flex;
        justify-content: space-between;
        .text-container{
             width: 47%;  
             align-self: center;
             & > * {
                 margin: .5rem 0;
             }
        }
        .contact{
            width: 80%;
            display: flex;
            justify-content: space-between;
        } 
    img{
        display: block;
        width: 30%;
    }
 }
  .stacks{
      flex-direction: row;
      justify-content: space-between;
      .stack{
          width: 30%;
      }
  }

  .about-me{
      display: flex;
      justify-content: space-between;
      .dp{
          width: 40%;
      }
      div{
        align-self: center;
        width: 40%;
        position: relative;
        .about{
            position:absolute;
            transform: translateX(-100%) rotate(-90deg);
            transform-origin: right;
            left: -30px ;
            top: -12%;
            color: #E43A19;
        }
      }
  }
  .skills{
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      .first{
          width: 40%;
          position: relative;
          .about{
            position:absolute;
            transform: translateX(-100%) rotate(-90deg);
            transform-origin: right;
            left: -30px ;
            top: 2%;  
          }
      }
      .second{
          align-self: center;
          width: 40%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .card{
              width: 42%;
              margin: 0 0 0 1.4rem;
          }
          & > :nth-child(2), & > :nth-child(4){
             margin-top: 1.4rem;
          }
      }
  }
  .portfolio{
      position: relative;
      .about{
        position:absolute;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right;
        left: 7% ;
        top: 2%;
        color: #E43A19;
      
    }
      .content{
          width: 50%;
          font-size: 16px;
          line-height: 24px;
      }
      .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0;
          .items{
              width: 33%;
          }
          img{
              width: 90%;
          }
      }
  }
 .testimonials{
     position: relative;
     .about{
        position:absolute;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right;
        left: 7% ;
        top: 2%;
        color: #E43A19;    
    }
    .content{
        width: 50%;
        font-size: 16px;
        line-height: 24px;
    }
     .testimonies{
         display: flex;
         justify-content: space-between;
         .testimony{
             width: 45%;
             padding: 3rem 1rem;
             span{
               right: 96%;  
             }
             .close_quotes{
                 right: 2%;
                 top: 50%;
             }
         }
     }
 }
 .contact-us{
     display: flex;
     justify-content: space-between;
     position: relative;
     div{
         width: 40%;
     }
     form{
         width: 45%;
     }
 }
 .x-icon{
     display: none !important;
 }
}